#home:hover
{
	background-color: #F6BC2A;
}

#book:hover
{
	background-color: #79C33A;
}

#booking
{
	background-color: #79C33A;	
}

#kit:hover
{
	background-color: #DF115C;
}

#kitinfo
{
	background-color: #DF115C;
}

#transfer:hover
{
	background-color: #7D408D;
}

#trans
{
	background-color: #7D408D;
}

#logout:hover
{
   background-color: #009CDE;
}

#homes
{
	color: #005097;
}

#book
{
	color: #005097;
}

#kit
{
	color: #005097;	
}

#transfer
{
	color: #005097;
}

#log
{
	color: #005097;
}

#boo
{
	color: #005097;
}

#bookin
{
	color: #005097;
}

#booki
{
	color: #005097;
}

#transf
{
	color: #005097;
}

#kiti
{
	color: #005097;
}

#kitin
{
	color: #005097;
}

#kitinf
{
	color: #005097;
}